!
version 15.4
service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
!
hostname {{item.hostname}}
!
boot-start-marker
boot-end-marker
!
aqm-register-fnf
!
!
no aaa new-model
clock timezone CET 1 0
mmi polling-interval 60
no mmi auto-configure
no mmi pvc
mmi snmp-timeout 180
no ip routing
!
no ip cef
no ipv6 cef
!
multilink bundle-name authenticated
!
!
interface Ethernet0/0
 ip address {{item.ip}}
 no ip route-cache
!         
!
ip default-gateway {{item.gateway}}
ip forward-protocol nd
!
!
no ip http server
no ip http secure-server
!      
!
control-plane
!
line con 0
 logging synchronous
line aux 0
line vty 0 4
 login
 transport input none
!
!
end

